footer{
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  
}
.left-footer{
  width: 60%;
  text-align: center;
 

}
.rigth-footer{
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  
  
}
.rigth-footer >h4{
  font-size: 1.5vmax;
  text-decoration: underline;
 
 
  
}
.rigth-footer >a {
  text-decoration: none;
  color: white;
  font-size: 1vmax;
  transition: all 0.5s;

 
}
.rigth-footer >a:hover{
  color: blue;
}

